﻿@using OAS.Logic.Operations;
@{
    ViewBag.Title = "Ask";
}

<div class="jumbotron">
    <h2>Ask a new question</h2>
</div>

@using (Html.BeginForm("addQuestion", "Question"))
{
    <div class="row">
        <div class="col l12">
            <input type="text" class="form-control" name="title" required placeholder="Give a short description..."/>
            <br />
            <div class="input-field">
                <select name="occupancy" required>
                    @foreach (var opp in Get.AllOccupations())
                {
                        <option>@opp.Title (@opp.AskedQuestionsForOccupation.Count questions)</option>
                    }
                </select>
                <label>Occupation</label>
            </div>
            <br />
            <div class="input-field">
                <textarea name="body" style="max-width: 100% !important; width: 1027px; margin: 0 112px 0 0; height: 409px;" required></textarea>
                <label>Question</label>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Create!" />
        </div>
    </div>
}
