﻿@model OAS.Logic.Types.Question
@using OAS.Logic.Operations;
@{
    ViewBag.Title = "Edit Question";
}

<div class="jumbotron">
    <h2>Edit Question @Model.Title - @Model.AskedOccupation.Title</h2>
</div>

@using (Html.BeginForm("updateQuestion", "Question"))
{
    <input type="hidden" name="questionId" value="@Model.Id" />

    <label>Title</label> <input type="text" class="form-control" name="newtitle" value="@Model.Title" />
    <br />
    <label>Occupancy (WARNING: Changing this will remove any answers not related to the questions occupancy!): </label>
    <select name="newOccupancy" class="form-control">
        @foreach (var occ in Get.AllOccupations())
        {
            if (occ.Title == Model.AskedOccupation.Title)
            {
                <option selected>@occ.Title</option>
            }
            else
            {
                <option>@occ.Title</option>
            }
        }
    </select>
    <br />
    <label>Body</label>
    <textarea class="form-control" name="newbody" style="max-width: 100% !important; width: 1027px; margin: 0 112px 0 0; height: 409px;">@Model.Body</textarea>
    <br />
    <input type="submit" class="btn btn-primary" value="Save!" />
}