﻿@model OAS.Logic.Types.Question

@{
    ViewBag.Title = "Question - " + Model.Title;
}

<div class="row">
    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-10" style="float: none">
                @if (Model.Owner.Id != Authentication.AuthenticatedAs.Id)
                {
                    if (Model.Flags.Count > 0)
                    {
                        if (Model.Flags.Count == 1)
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1> <i id="@Model.Id" class="fa fa-flag flagQuestion"> <span class="label label-info">1 flag</span></i>
                        }
                        else if (Model.Flags.Count > 1 && Model.Flags.Count < 5)
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1> <i id="@Model.Id" class="fa fa-flag flagQuestion"> <span class="label label-warning">@Model.Flags.Count flags</span></i>
                        }
                        else
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1> <i id="@Model.Id" class="fa fa-flag flagQuestion"> <span style="font-size: 12px" class="label label-danger">@Model.Flags.Count flags</span></i>
                        }
                    }
                    else
                    {
                        <h1>@Model.Title - @Model.AskedOccupation.Title</h1>  <i id="@Model.Id" class="fa fa-flag flagQuestion"></i>
                    }
                }
                else
                {
                    if (Model.Flags.Count > 0)
                    {
                        if (Model.Flags.Count == 1)
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1><span class="label label-info">1 flag</span>
                        }
                        else if (Model.Flags.Count > 1 && Model.Flags.Count < 5)
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1><span class="label label-warning">@Model.Flags.Count flags</span>
                        }
                        else
                        {
                            <h1>@Model.Title - @Model.AskedOccupation.Title</h1><span style="font-size: 12px" class="label label-danger">@Model.Flags.Count flags</span>
                        }
                    }
                    else
                    {
                        <h1>@Model.Title - @Model.AskedOccupation.Title</h1>
                    }
                }
                <h5>Asked by <a href="@Url.Action("Index", "Account", new { username = @Model.Owner.UserName })">@Model.Owner.FullName</a></h5>
                @if (Model.Owner.UserName == Authentication.AuthenticatedAs.UserName)
                {
                    <div>
                        <i id="editQuestion" class="fa fa-edit" style="font-size: 24px;"></i>
                        <i id="deleteQuestion" class="fa fa-remove" style="font-size: 24px;"></i>
                    </div>
                }
            </div>
            <div class="col-xs-2" style="float: none">
                <br />
                @if (Model.SecondedUsers.Any(x => x.UserName == Authentication.AuthenticatedAs.UserName) && Model.Owner.Id != Authentication.AuthenticatedAs.Id)
                {
                    <a href="@Url.Action("unsecondQuestion", new { questionId = Model.Id })" class="btn btn-warning">Unsecond <i class="fa fa-thumbs-down"></i></a>
                }
                else if (!Model.SecondedUsers.Any(x => x.UserName == Authentication.AuthenticatedAs.UserName) && Model.Owner.Id != Authentication.AuthenticatedAs.Id)
                {
                    <a href="@Url.Action("secondQuestion", new { questionId = Model.Id })" class="btn btn-success">Second <i class="fa fa-thumbs-up"></i></a>
                }
            </div>
            <hr />
        </div>
        <div class="row">
            @if (Model.AskedOccupation.Title.EndsWith("man") || Model.AskedOccupation.Title.EndsWith("woman")) //a less than brilliant solution for less obvious plural connotations (policemen, etc.). I Was drunked at the time :-)
            {
                <pre>
                    <p>@(Model.AskedOccupation.Title.Replace("man", "men").Replace("woman", "women")), <br /><br />@Model.Body</p>
                </pre>
            }
            else
            {
                <pre>
                    <p>@(Model.AskedOccupation.Title)s, <br /><br />@Model.Body</p>
                </pre>
            }
            <hr />
            @if (Model.Answers.Count == 0)
            {
                <h2>No answers!</h2>
                if (Authentication.AuthenticatedAs.Occupations.Any(x => x.BaseOccupation.Id == Model.AskedOccupation.Id))
                {
                    <button class="btn btn-primary" id="answerOpen">Be the first to answer this!</button>
                }
            }
            else
            {
                foreach (var ans in Model.Answers)
                {
                    if (ans.Owner.Id == Authentication.AuthenticatedAs.Id)
                    {
                        <div class="well">
                            <h4>@ans.Owner.FullName <i id="@ans.Id" class="fa fa-edit editAnswer" onclick="window.location.replace('@(Url.Action("editAnswer", new { answerId = ans.Id }))')"></i><i id="@ans.Id" class="fa fa-remove removeAnswer"></i></h4>
                            <p>@ans.Body</p>
                        </div>
                    }
                    else
                    {
                        if (ans.SecondedUsers.Any(x => x.Id == Authentication.AuthenticatedAs.Id))
                        {
                            <div class="well">
                                <h4>@ans.Owner.FullName <a href="@Url.Action("unsecondAnswer", "Question", new { answerId = ans.Id })" class="btn btn-warning">Unsecond <i class="fa fa-thumbs-down"></i></a></h4>
                                <p>@ans.Body</p>
                            </div>
                        }
                        else
                        {
                            <div class="well">
                                <h4>@ans.Owner.FullName <a href="@Url.Action("secondAnswer", "Question", new { answerId = ans.Id })" class="btn btn-success">Second <i class="fa fa-thumbs-up"></i></a></h4>
                                <p>@ans.Body</p>
                            </div>
                        }
                    }
                }
                <br />
                if (Authentication.AuthenticatedAs.Occupations.Any(x => x.BaseOccupation.Id == Model.AskedOccupation.Id))
                {
                    <button class="btn btn-primary" id="answerOpen">Answer</button>
                }
            }

            @if (Authentication.AuthenticatedAs.Occupations.Any(x => x.BaseOccupation.Id == Model.AskedOccupation.Id))
            {
                <div id="entryFormWrapper" hidden>
                    @using (Html.BeginForm("answerQuestion", "Question", FormMethod.Post))
                    {
                        <input type="hidden" name="questionId" value="@Model.Id" />
                        <input type="hidden" name="ownerId" value="@Authentication.AuthenticatedAs.Id" />
                        <textarea required class="form-control" name="answerBody" spellcheck="true" style="height: 150%" placeholder="Clearly and simply answer the question"></textarea>
                        <input type="submit" class="btn btn-primary" value="Save!" />
                        <button id="answerClose" class="btn btn-danger" onclick="">Cancel</button>
                    }
                </div>
            }
        </div>

    </div>
</div>

<script>
    $('#deleteQuestion').on('click', function () {
        swal({
            title: "Delete question",
            text: "This will delete all answers, comments, and votes on this question! Are you sure?",
            type: "error",
            showCancelButton: true,
            showConfirmButton: true,
            cancelButtonText: "No!",
            confirmButtonText: "Yes I'm sure!",
            closeOnCancel: true
        },
        function (isConfirm) {
            if (isConfirm) {
                window.location.replace("@Url.Action("deleteQuestion", "Question", new { questionId = Model.Id })");
            }
        });
    });

    $('#editQuestion').on('click', function () {
        window.location.replace("@Url.Action("editQuestion", new { questionId = Model.Id })");
    });

    $('#answerOpen').on('click', function () {
        $('#entryFormWrapper').slideDown();
        $('#answerOpen').slideUp();
    });

    $('#answerClose').on('click', function () {
        $('#entryFormWrapper').slideUp();
        $('#answerOpen').slideDown();
    });

    $('.removeAnswer').on('click', function () {
        var elem = $(this);
        swal({
            title: "Delete answer",
            text: "This will delete all comments and votes on this answer! Are you sure?",
            type: "error",
            showCancelButton: true,
            showConfirmButton: true,
            cancelButtonText: "No!",
            confirmButtonText: "Yes I'm sure!",
            closeOnCancel: true
        },
        function (isConfirm) {
            if (isConfirm) {
                window.location.replace("Question/deleteAnswer?answerId=" + $(elem).attr('id')); //hardcoded due to JS value
            }
        });
    });

    $('.flagQuestion').on('click', function () {
        var elem = $(this).attr('id');
        swal({
            title: "Flag question",
            text: "Please explain why you are flagging this question<br /><br /><form method='post' action='/Question/flagQuestion'><input type='hidden' name='questionId' value='@Model.Id' /><input type='text' class='form-control inline' name='reason' style='display: inline' required placeholder='Reason...' />    <input type='submit' class='btn btn-primary' style='display: inline' value='Flag' /></form>",
            type: "warning",
            html: true,
            showCancelButton: true,
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: true,
            cancelButtonText: "Never mind"
        });
    });
</script>