﻿@model OAS.Logic.Types.User

@using Extensions;

@using OAS.Logic.Operations;
@if (Model.Id == Authentication.AuthenticatedAs.Id)
{
    <title>My Account</title>
}
else
{
    <title>@(Model.UserName)'s profile</title>
}

<div class="jumbotron">
    @if (Model.Id == Authentication.AuthenticatedAs.Id)
    {
        <img style="height: 7%; width: 7%; display: inline" class="circular" src="@(Model.GravatarURL ?? "/Content/defaultGravatar.jpg")" />   <h2 style="display: inline">Welcome, @Html.DisplayFor(model => model.FullName)</h2>
        <h4>@Model.Votes reputation</h4>
    }
    else
    {
        <img style="height: 7%; width: 7%; display: inline" class="circular" src="@(Model.GravatarURL ?? "/Content/defaultGravatar.jpg")" />   <h2 style="display: inline">@Html.DisplayFor(model => model.FullName) - @Model.Votes reputation</h2>
    }
</div>

    <ul class="tabs">
        <li class="tab"><a href="#profile" aria-controls="profile">Profile</a></li>
        <li class="tab"><a href="#questions" aria-controls="questions">Questions</a></li>
        <li class="tab"><a href="#answers" aria-controls="answers">Answers</a></li>
        <li class="tab"><a href="#comments" aria-controls="comments">Comments</a></li>
        <li class="tab"><a href="#occupations" aria-controls="occupations">Occupations</a></li>

        @if (Model.Id == Authentication.AuthenticatedAs.Id)
        {
            <li class="tab"><a href="#settings" aria-controls="settings">Settings</a></li>
        }
    </ul>

    <!-- Tab panes -->
        <div id="profile">
            <br />
            <h5>Username: @Html.DisplayFor(x => x.UserName)</h5>
            <br />
            <h5>@Model.FirstName has voted @(Model.SecondedAnswers.Count + Model.SecondedQuestions.Count) times</h5>
            <br />
            <h5>@(Model.Answers.Count == 1 ? String.Concat(Model.Answers.Count, " Answer") : String.Concat(Model.Answers.Count, " Answers"))  (@Model.Answers.Where(x => x.Accepted).Count() accepted)</h5>
            <br />
            <h5>@(Model.Questions.Count == 1 ? String.Concat(Model.Questions.Count, " Question") : String.Concat(Model.Questions.Count, " Questions")) (@Model.Questions.Where(x => x.SecondedUsers.Count() > 0).Count() total voted up)</h5>
            <br />
            @if (Model.CurrentOccupation == null)
            {
                <h5>@Model.FirstName is not currently employed!</h5>
            }
            else
            {
                if (Model.CurrentOccupation.Company == "Easter Egg Inc.") //What? :P
                {
                    <h5 class="avsan">@Model.FirstName is working as ~~ avsan: Easter Bunny ~~ at Easter Egg Inc.</h5>
                }
                else
                {
                    <h5 class="avsan">@Model.FirstName is working as ~~ avsan: @Model.CurrentOccupation.BaseOccupation.Title ~~ at @Model.CurrentOccupation.Company</h5>
                }
            }
        </div>
        <div id="questions">
            @foreach (var question in Model.Questions)
            {
                <a href="@Url.Action("QuestionIndex", "Question", new { id = @question.Id })" style="text-decoration: none;">
                    <div class="well well-lg">
                        @if (question.SecondedUsers.Count == 1)
                        {
                            <h3>1 person has voted for this question</h3>
                        }
                        else
                        {
                            <h3>@question.SecondedUsers.Count people have voted for this question</h3>
                        }
                        <hr />
                        <h3>@question.Title</h3>
                        <p>@question.Body.Truncate(50)</p>
                        <br />
                        <h3>Asked for: @question.AskedOccupation.Title</h3>
                    </div>
                </a>
            }
        </div>
        <div id="answers">
            @foreach (var answer in Model.Answers)
            {
                <a style="text-decoration: none" href="@Url.Action("QuestionIndex", "Question", new { id = @answer.AnsweredQuestion.Id })">
                    <div class="well well-lg">
                        @if (answer.SecondedUsers.Count == 1)
                        {
                            <h3>1 person has voted for this answer</h3>
                        }
                        else
                        {
                            <h3>@answer.SecondedUsers.Count people have voted for this answer</h3>
                        }
                        <hr />
                        <h3>In answer to: @answer.AnsweredQuestion.Title</h3>
                        <p>@answer.Body.Truncate(50)</p>
                        <br />
                        <h4 class="avsan">Answered by @answer.Owner.FullName due to experience as ~~ avsan: @answer.AnsweredQuestion.AskedOccupation.Title ~~</h4>
                    </div>
                </a>
            }
        </div>
        <div id="comments">
            @foreach (var comment in Model.Comments)
            {
                <a style="text-decoration: none" href="@Url.Action("QuestionIndex", "Question", new { id = comment.CommentedAnswer == null ? comment.CommentedQuestion.Id : comment.CommentedAnswer.AnsweredQuestion.Id })">
                    <div class="well well-sm">
                        <p>@comment.Body.Truncate(50)</p>
                        <br />
                        @if (comment.CommentedAnswer == null) // if this is a comment on a question
                        {
                            <p>Commented on question @comment.CommentedQuestion.Title</p>
                        }
                        else //comment on an answer
                        {
                            <p>Commented on answer in response to @comment.CommentedAnswer.AnsweredQuestion.Title</p>
                        }
                    </div>
                </a>
            }
        </div>
        <div id="occupations">
            @foreach (var occ in Model.Occupations)
            {
                <div class="well well-lg">
                    <h4>@occ.BaseOccupation.Title - @occ.Company</h4>
                    @if (Model.Id == Authentication.AuthenticatedAs.Id)
                    {
                        <i data-toggle="modal" data-target="#editOcc" class="fa fa-edit"></i>

                        <i id="@occ.Id" class="fa fa-remove deleteOcc"></i>

                        <div class="modal fade" id="editOcc" tabindex="-1" role="dialog" aria-labelledby="occupationEditModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="occModalHeader">Edit @occ.BaseOccupation.Title at @occ.Company</h4>
                                    </div>
                                    <div class="modal-body">
                                        @using (Html.BeginForm("editOccupation", "Account"))
                                        {
                                            <input type="hidden" name="occupationId" value="@occ.Id" />
                                            <div class="input-field">
                                                <input id="occStartDate" class="datepicker" type="text" name="newStartDate" value="@occ.StartDate" />
                                                <label for="occStartDate">Start date</label>
                                            </div>
                                            <br />
                                            if (occ.EndDate == null)
                                            {
                                                <input class="form-control datepicker" type="text" name="newEndDate" placeholder="End Date... (blank for current job)" />
                                            }
                                            else
                                            {
                                                <input class="form-control datepicker" type="text" name="newEndDate" value="@occ.EndDate" placeholder="End Date... (blank for current job)" />
                                            }
                                            <br />
                                            <input class="form-control" type="text" name="newCompany" value="@occ.Company" required placeholder="Company..." />
                                            <br />
                                            <select name="newOccupationType">
                                                @foreach (var allOcc in Get.AllOccupations())
                                                {
                                                    if (allOcc.Id == occ.BaseOccupation.Id)
                                                    {
                                                        <option selected>@allOcc.Title</option>
                                                    }
                                                    else
                                                    {
                                                        <option>@allOcc.Title</option>
                                                    }
                                                }
                                            </select> <p>WARNING: changing this will remove all answers given under this role (unless you have worked in another role of the same type)!</p>

                                            <input type="submit" class="btn btn-primary" value="Save!" />
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }

                    @if (occ.CurrentJob)
                    {
                        <p>Started: @occ.StartDate</p>
                        <p>Current Job</p>
                    }
                    else
                    {
                        <p>Started: @occ.StartDate</p>
                        <p>Finished: @occ.EndDate</p>
                    }
                </div>
            }
            @if (Model.Id == Authentication.AuthenticatedAs.Id)
            {
                <button class="btn btn-primary" data-toggle="modal" data-target="#occModal">Add Occupation</button>

                <div class="modal fade" id="occModal" tabindex="-1" role="dialog" aria-labelledby="occupationModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="occModalHeader">Add a new Occupation</h4>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("addOccupation", "Account"))
                                {
                                    <input class="form-control datepicker" type="text" name="startDate" placeholder="Start date..." />
                                    <br />
                                    <input class="form-control datepicker" type="text" name="endDate" placeholder="End Date... (leave blank if this is your current job)" />
                                    <br />
                                    <input class="form-control" type="text" name="company" required placeholder="Company..." />
                                    <br />
                                    <select name="occupationType">
                                        <option selected disabled>Select an occupation</option>
                                        @foreach (var occ in Get.AllOccupations())
                                        {
                                            <option>@occ.Title</option>
                                        }
                                        <option id="newOcc">Add new...</option>
                                    </select>

                                    <input type="submit" class="btn btn-primary" value="Save!" />
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="settings">
            <br />
            @using (Html.BeginForm("editAccount", "Account"))
            {
                <div class="row">
                    <div class="col l6 m12 s12">
                        <div class="input-field">
                            <input id="newfn" type="text" tabindex="1" name="firstname" value="@Model.FirstName" />
                            <label for="newfn">First Name</label>
                        </div>
                        <br />
                        <div class="input-field">
                            <input id="newln" type="text" tabindex="2" name="lastname" value="@Model.LastName" />
                            <label for="newln">Last Name</label>
                        </div>
                        <br />
                        <div class="input-field">
                            <input id="newemail" type="email" tabindex="3" name="email" value="@Model.Email" />
                            <label for="newemail">Email</label>
                        </div>
                        <input type="submit" class="btn waves-ripple" value="Save!" />
                    </div>
                    <div class="col l6 m12 s12">
                        <label>Old password</label><input type="password" tabindex="4" class="form-control" name="oldpassword" /> <!-- TODO: Finish the forms and sort out validation! -->
                        <br />
                        <label>New password</label><input type="password" tabindex="5" class="form-control" name="newpassword" />
                        <br />
                        <label>Confirm password</label><input type="password" tabindex="6" class="form-control" name="confirmnewpassword" />
                    </div>
                </div>
            }
        </div>

<script>
    $('.datepicker').datepicker({
        format: "yyyy-mm-dd"
    });

    $('.deleteOcc').on('click', function () {
        var elem = $(this);
        swal({
            title: "Delete Occupation",
            text: "This will delete all answers under this occupation! Are you sure?",
            type: "error",
            showCancelButton: true,
            showConfirmButton: true,
            cancelButtonText: "No!",
            confirmButtonText: "Yes I'm sure!",
            closeOnCancel: true
        },
        function (isConfirm) {
            if (isConfirm) {
                window.location.replace("Account/deleteOccupation?occupationId=" + $(elem).attr('id')); // need to use hardcoded link due to the fact that URL.Action won't allow JQuery functions within the route object
            }
        });
    });

    $('select[name=occupationType]').on('change', function () {
        if ($(this).val() === 'Add new...') {

            $('#occModal').modal('hide');

            swal({
                title: "Add an occupation type",
                text: "This is trackable back to you, so be mature!",
                html: true,
                showCancelButton: true,
                cancelButtonText: "Never mind",
                showConfirmButton: false,
                closeOnConfirm: false,
                text: "<form method='post' action='Account/AddOccupationType'><input class='form-control' type='text' name='title' placeholder='Title...' required /><br /><input class='form-control' type='text' name='description' placeholder='Description...' required /><br /><input class='btn btn-primary' style='float: left' type='submit' value='Save!' /></form><br />"
            }, function (inputValue) {
                if (inputValue === "") {
                    swal.showInputError("Please provide the title.");
                }
                else {
                    title = inputValue;
                }
            });
        }
    })
</script>