﻿
@{
    ViewBag.Title = "Login or Register";
}
<div class="hide-on-large-only">
    <div class="row">
        <div class="col l12 s12">
            <br />
            <ul class="tabs" style="overflow: hidden">
                <li class="tab"><a href="#login">Login</a></li>
                <li class="tab"><a href="#register">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <div id="login">
                @using (Html.BeginForm("CheckLogin", "Account", FormMethod.Get))
                {
                    <div class="input-field">
                        <input id="loginUsername" type="text" class="validate" name="username" required />
                        <label for="loginUsername">Username</label>
                    </div>
                    <div class="input-field">
                        <input id="loginPassword" type="password" class="validate" name="password" required />
                        <label for="loginPassword">Password</label>
                    </div>
                    <br />
                    <input type="submit" class="btn btn-primary waves-effect" value="Login!" />
                }
            </div>
            <div id="register">
                <form id="registerForm" onsubmit="return validate()" method="post" action="@Url.Action("RegisterAccount", "Account")">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="row">
                                <div class="col s6">
                                    <div class="input-field">
                                        <input id="firstnameRegister" type="text" class="validate" name="firstname" tabindex="1" required />
                                        <label for="firstNameRegister">First Name</label>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="input-field">
                                        <input id="registerLastName" type="text" class="validate" name="lastname" tabindex="2" required />
                                        <label for="registerLastName">Last Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="input-field">
                                <input id="password0" data-minlength="6" type="password" class="validate" name="password" tabindex="3" required />
                                <label for="password0">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 s12">
                            <div class="input-field">
                                <input id="registerUsername" type="text" class="validate" name="username" tabindex="5" required />
                                <label for="registerUsername">Username</label>
                            </div>
                            <div class="input-field">
                                <input id="registerEmail" type="email" class="validate" name="email" tabindex="6" required />
                                <label for="registerEmail">Email</label>
                            </div>
                        </div>
                    </div>
                    <input id="registerButton" type="submit" class="btn btn-primary waves-effect" value="Register!" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row hide-on-med-and-down">
    <div class="col s12 l6 m6">
        <h4>Login</h4>
        @using (Html.BeginForm("CheckLogin", "Account", FormMethod.Get))
        {
            <div class="input-field">
                <input id="loginUsername" type="text" class="validate" name="username" required />
                <label for="loginUsername">Username</label>
            </div>
            <div class="input-field">
                <input id="loginPassword" type="password" class="validate" name="password" required />
                <label for="loginPassword">Password</label>
            </div>
            <br />
            <div class="row">
                <div class="col l6">
                    <input type="submit" class="btn btn-primary waves-effect blue accent-2" value="Login!" />
                </div>
                <div class="col l6">
                    <a href="@Url.Action("resetPasswordPage", "Account")" class="btn waves-ripple blue accent-2">Forgotten password</a>
                </div>
            </div>
        }
    </div>
    <div class="col s12 l6 m6">
        <h4>Register</h4>
        <form id="registerForm" onsubmit="return validate()" method="post" action="@Url.Action("RegisterAccount", "Account")">
            <div class="row" style="margin-bottom: 0px;">
                <div class="col m6 l6">
                    <div class="input-field">
                        <input id="firstnameRegister" type="text" class="validate" name="firstname" tabindex="1" required />
                        <label for="firstNameRegister">First Name</label>
                    </div>
                </div>
                <div class="col m6 l6">
                    <div class="input-field">
                        <input id="registerLastName" type="text" class="validate" name="lastname" tabindex="2" required />
                        <label for="registerLastName">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12">
                    <div class="row">
                        <div class="col l6">
                            <div class="input-field">
                                <input id="registerUsername" type="text" class="validate" name="username" tabindex="3" required />
                                <label for="registerUsername">Username</label>
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="input-field">
                                <input id="registerEmail" type="email" class="validate" name="email" tabindex="4" required />
                                <label for="registerEmail">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l8">
                            <div class="input-field">
                                <input id="password0" data-minlength="6" type="password" class="validate" name="password" tabindex="5" required />
                                <label for="password0">Password</label>
                            </div>
                        </div>
                        <div class="col l4">
                            <input id="registerButton" type="submit" class="btn btn-primary waves-effect blue accent-2" value="Register!" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <script>
            function validate() {
                $("#registerForm").validate({
                    rules: {
                        password0: {
                            required: true,
                            minlength: 6
                        },
                        password1: {
                            required: true,
                            minlength: 6,
                            equalTo: "#password0"
                        }
                    },
                    //For custom messages
                    messages: {
                        password0: {
                            required: "Enter a password",
                            minlength: "Enter at least 6 characters"
                        },
                        password1: {

                        }
                    },
                    errorElement: 'div',
                    errorPlacement: function (error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });

            }
        </script>
    </div>
</div>