﻿@model System.String
@{
    ViewBag.Title = "resetPassword";
}

<h2>New Password</h2>

<div class="row">
    <div class="col l8">
        <p>Well done! The hardest part is over, all you need to do now is reset your password using this form. Easy right?</p>
    </div>
    <div class="col l4">
        @using (Html.BeginForm("createNewPassword", "Account"))
        {
            <input type="hidden" name="token" value="@TempData["token"]" />

            <div class="input-field">
                <input id="newPassword" type="text" name="newPassword" required />
                <label for="newPassword">New Password</label>
            </div>
            <input type="submit" class="btn waves-ripple blue accent-2" value="Reset Password" />
        }
    </div>
</div>



