﻿@{
    ViewBag.Title = "reset tPassword";
}

<h2>Reset Password</h2>
<div class="row">
    <div class="col l8">
        <p>Everyone forgets their password, that's why I've made it nice and simple to reset it! To do so, just enter the username registered with your account to the right...</p>
    </div>
    <div class="col l4">
        @using (Html.BeginForm("sendResetEmail", "Account"))
        {
            <div class="input-field">
                <input id="username" type="text" name="username" required />
                <label for="username">Username</label>
            </div>
            <input type="submit" class="btn waves-ripple blue accent-2" value="Email me a link" />
        }
    </div>
</div>

