﻿@{
    ViewBag.Title = "Home Page";
}

@using OAS.Logic.Operations
@using Extensions;

<h1>OAS</h1>
<h5>A system for the free asking and answering of occupation based questions</h5>

<div class="row">
    <div class="col l12">
        <ul class="tabs">
            <li class="tab"><a href="#allQuestions">All Questions</a></li>
            @foreach (var occ in Authentication.AuthenticatedAs.Occupations)
            {
                <li class="tab"><a href="#@String.Concat(Authentication.AuthenticatedAs.UserName, occ.Id)">@occ.BaseOccupation.Title</a></li>
            }
        </ul>
        <div id="allQuestions">
            <ul class="tiles">
                @foreach (var question in Get.AllQuestions())
                {
                    <li onclick="window.location.replace('@Url.Action("QuestionIndex", "Question", new { id = question.Id })')">
                        <h2>@question.Title.Truncate(20)</h2>
                        <hr />
                        <p>@question.Body.Truncate(50)</p>
                        <br />
                        <h4>Asked for: @question.AskedOccupation.Title</h4>
                    </li>
                }
            </ul>
        </div>
        @foreach (var occ in Authentication.AuthenticatedAs.Occupations)
            {
            <div id="@String.Concat(Authentication.AuthenticatedAs.UserName, occ.Id)">
                @foreach (var question in Get.AllQuestions().Where(x => x.AskedOccupation.Id == occ.BaseOccupation.Id))
                {
                    <a href="@Url.Action("QuestionIndex", "Question", new { id = question.Id })">
                        <li onclick="window.location.replace(" ")">
                            <h2>@question.Title.Truncate(20)</h2>
                            <hr />
                            <p>@question.Body.Truncate(50)</p>
                        </li>
                    </a>
                }
            </div>
        }
    </div>
</div>