﻿
@using OAS.Logic.Operations

@{
    ViewBag.Title = "Admin panel";
}

<h2>Admin Panel</h2>

<ul class="tabs">
    <li class="tab"><a href="#userManagement">Users (active)</a></li>
    <li class="tab"><a href="#oldUserManagement">Users (deactivated)</a></li>
    <li class="tab"><a href="#errorManagement">Logs</a></li>
    <li class="tab"><a href="#flagManagement">Flags</a></li>
    <li class="tab"><a href="#traceManagement">Trace</a></li>
</ul>

<div id="traceManagement">
    <iframe style="width: 100%; height: 600px;" id="traceFrame"></iframe>
</div>
<div id="errorManagement">
    <table class="highlight bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Type</th>
                <th>Suspect</th>
                <th>Occured</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            @{ var errs = Get.AllErrors(); }
            @foreach (var err in errs)
            {
                <tr>
                    <td>@err.Id</td>
                    <td>@err.ExceptionMessage</td>
                    <td>@err.ExceptionType</td>
                    <td><a href="Account/Index?username=@err.LoggedIn.UserName">@err.LoggedIn.FullName</a></td>
                    <td>@err.OccurenceDate</td>
                    <td>@err.Source</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="userManagement">
    <table class="highlight bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Answer count</th>
                <th>Question count</th>
                <th>Comment count</th>
                <th>Given Flags</th>
                <th>Popularity</th>
                <th>Is Admin</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @{ var users = Get.AllUsers(); }
            @foreach (var user in users.Where(x => x.IsActive == true))
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Answers.Count</td>
                    <td>@user.Questions.Count</td>
                    <td>@user.Comments.Count</td>
                    <td>@user.OwnedFlags.Count</td>
                    <td>@user.Votes</td>
                    <td>@user.IsAdmin.ToString()</td>
                    @if (Authentication.ImpersonatedFrom == null) //stop an impersonation from an impersonation
                    {
                        if (user.Id != Authentication.AuthenticatedAs.Id)
                        {
                            <td><i id="@user.Id" class="fa fa-remove deleteUser"></i>     <a style="cursor: default" href="@String.Concat("#editUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-edit"></i></a>    <i id="@user.Id" class="fa fa-user impersonateUser"></i>    <a style="cursor: default" href="@String.Concat("#notifyUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-envelope"></i></a></td>
                        }
                        else
                        {
                            <td><i id="@user.Id" class="fa fa-remove deleteUser"></i>     <a style="cursor: default" href="@String.Concat("#editUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-edit"></i></a>    <a style="cursor: default" href="@String.Concat("#notifyUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-envelope"></i></a></td>
                        }
                    }
                    else
                    {
                        <td><i id="@user.Id" class="fa fa-remove deleteUser"></i>     <a style="cursor: default" href="@String.Concat("#editUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-edit"></i></a>    <a style="cursor: default" href="@String.Concat("#notifyUser", user.Id)" class="modal-trigger"><i style="color: #000000;" class="fa fa-envelope"></i></a></td>
                    }
                </tr>

                <div class="modal modal-fixed-footer" id="@String.Concat("editUser", user.Id)">
                    <div class="modal-content">
                        <h4 class="modal-title" id="occModalHeader">Edit user - @user.UserName</h4>
                        @using (Html.BeginForm("editUser", "Admin"))
                        {
                            <input type="hidden" name="userId" value="@user.Id" />
                            <div class="input-field">
                                <input type="text" class="form-control" name="Username" value="@user.UserName" required />
                                <label>Username</label>
                            </div>
                            <br />
                                <div class="input-field">
                                    <input type="text" class="form-control" name="Firstname" value="@user.FirstName" required />
                                    <label>First Name</label>
                                </div>
                                <br />
                                <div class="input-field">
                                    <input type="text" class="form-control" name="Lastname" value="@user.LastName" required />
                                    <label>Last Name</label>
                                </div>
                                <br />
                                    <div class="input-field">
                                        <input type="email" class="form-control" name="Email" value="@user.Email" required />
                                        <label>Email</label>
                                    </div>
                                        <br />
                                        <div class="input-field">
                                            <input type="password" class="form-control" name="Password" value="placeholder" required />
                                            <label>Password</label>
                                        </div>
                                        <div class="input-field">
                                            if (user.IsAdmin)
                                            {
                                            <input type="checkbox" name="Admin" checked="checked" />
                                            }
                                            else
                                            {
                                            <input type="checkbox" name="Admin" />
                                            }
                                            <label>Admin rights</label>
                                        </div>
                                        <br />
                                        <input type="submit" class="btn btn-primary" value="Update" style="display: none" />
                        }
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="btn modal-action modal-close waves-effect waves-red btn-flat" onclick="$(@(user.Id)).closeModal()">Cancel</a> <a href="#!" class=" btn modal-action modal-close waves-effect waves-green btn-flat"></a>
                    </div>
                </div>

                <div class="modal modal-fixed-footer" id="@String.Concat("notifyUser", user.Id)">
                    <div class="modal-content">
                        <h4 class="modal-title">Notify user - @user.UserName</h4>
                        @using (Html.BeginForm("Notify", "Admin"))
                        {
                            <input type="hidden" name="userId" value="@user.Id" />
                                <div class="input-field">
                                    <input id="messageContents" type="text" name="message" required />
                                    <label for="messageContents">Content</label>
                                </div>
                                <br />
                                <input class="btn btn-primary" style="float: left" type="submit" value="Send!" />
                        }
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" btn modal-action modal-close waves-effect waves-red btn-flat" onclick="$(@(user.Id)).closeModal()">Cancel</a> <a href="#!" class=" btn modal-action modal-close waves-effect waves-green btn-flat"></a>
                    </div>
                </div>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("createUser", "Admin"))
    {
        <div class="row">
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <input id="newUserUsername" type="text" class="form-control" name="Username" required />
                    <label for="newUserUsername">Username</label>
                </div>
            </div>
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <label for="newUserfn">First Name</label>
                    <input id="newUserfn" type="text" name="Firstname" required />
                </div>
                <div class="input-field">
                    <input id="newUserln" type="text" name="Lastname" required />
                    <label for="newUserln">Last Name</label>
                </div>
            </div>
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <input id="newUserEmail" type="email" name="Email" required />
                    <label for="newUserEmail">Email</label>
                </div>
            </div>
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <input id="newUserPwd" type="password" name="Password" required />
                    <label for="newUserPwd">Password</label>
                </div>
            </div>
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <input id="newUserAdminRights" type="checkbox" name="Admin" />
                    <label for="newUserAdminRights">Admin rights</label>
                </div>
            </div>
            <div class="col l2 m12 s12">
                <div class="input-field">
                    <input type="submit" class="btn waves-ripple" value="Save!" />
                </div>
            </div>
        </div>
    }
</div>
<div id="flagManagement">
    <table class="highlight bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Owner</td>
                <td>Reason</td>
                <td>Flagged Type</td>
                <td>Total flag count on entity</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var fl in Get.AllFlags())
            {
                <tr>
                    <td>@fl.Id</td>
                    <td><a href="@Url.Action("Index", "Account", new { username = fl.Owner.UserName })">@fl.Owner.FullName</a></td>
                    <td>@fl.Reason</td>
                    @if (fl.AnswerFlagged == null)
                    {
                        <td><a href="@Url.Action("Index", "Question", new { id = fl.QuestionFlagged.Id })">Question</a></td>
                            <td>@fl.QuestionFlagged.Flags.Count</td>
                    }
                    else
                    {
                        <td><a href="@Url.Action("Index", "Question", new { id = fl.AnswerFlagged.AnsweredQuestion.Id })">Answer</a></td>
                            <td>@fl.AnswerFlagged.AnsweredQuestion.Flags.Count</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="oldUserManagement">
    <table class="highlight bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Email</td>
                <td>Answer count</td>
                <td>Question count</td>
                <td>Comment count</td>
                <td>Owned Flag count</td>
                <td>Popularity</td>
                <td>Is Admin</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users.Where(x => x.IsActive == false))
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Answers.Count</td>
                    <td>@user.Questions.Count</td>
                    <td>@user.Comments.Count</td>
                    <td>@user.OwnedFlags.Count</td>
                    <td>@user.Votes</td>
                    <td>@user.IsAdmin.ToString()</td>
                    <td><i id="@user.UserName" class="fa fa-user reActivateUser"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('.deleteUser').on('click', function () {
        var elem = $(this);

        swal({
            title: 'Remove user',
            text: 'Are you sure you want to deactivate this user?',
            type: 'warning',
            showConfirmButton: true,
            showCancelButton: true,
            cancelButtonText: 'Never mind',
            confirmButtonText: 'Yes'
        }, function (isConfirm) {
            if (isConfirm) {
                window.location.replace('Admin/deleteUser?userId=' + $(elem).attr('id'));
            }
        });
    });

    $('.impersonateUser').on('click', function () {
        var elem = $(this);

        swal({
            title: 'Impersonate user',
            text: 'Are you sure you want to impersonate this user? Please be mature!',
            type: 'warning',
            showConfirmButton: true,
            showCancelButton: true,
            cancelButtonText: 'Never mind',
            confirmButtonText: 'Yes'
        }, function (isConfirm) {
            if (isConfirm) {
                window.location.replace('Admin/Impersonate?Id=' + $(elem).attr('id'));
            }
        });
    })

    $('.reActivateUser').on('click', function () {
        var elem = $(this);

        swal({
            title: 'Reactivate user',
            text: 'Are you sure you want to reactivate this user?',
            type: 'warning',
            showConfirmButton: true,
            showCancelButton: true,
            cancelButtonText: 'Never mind',
            confirmButtonText: 'Yes'
        }, function (isConfirm) {
            if (isConfirm) {
                window.location.replace('Admin/reactivate?username=' + $(elem).attr('id'));
            }
        });
    });

    $(document).ready(function () {
        var url;

        if (window.location.href.includes('localhost'))
        {
            url = window.location.origin;
        }
        else
        {
            url = window.location.origin + '/oas';
        }

        $('#traceFrame').attr('src', url + '/trace.axd');
    })
</script>