﻿@model IEnumerable<OAS.Logic.Types.Thread>

@using OAS.Logic.Types;
@using OAS.Logic.Operations;
@{
	ViewBag.Title = "Messages";
}

<h2>Messages</h2>
<div class="row">
	<div class="col m3 l3 s12">
		@using (Html.BeginForm("createThread", "Message"))
		{
			<div class="row">
				<div class="col l12">
					<select multiple name="usernames">
						<option disabled selected>Select users...</option>
						@foreach (var user in Get.AllUsers().Where(x => x.IsActive && x.Id != 1 && x.Id != Authentication.AuthenticatedAs.Id).OrderBy(x => x.FullName))
						{
							<option>@user.FullName (@user.UserName)</option>
						}
					</select>
					<input type="submit" class="btn waves-ripple blue accent-2" />
				</div>
			</div>
		}
	</div>
</div>
<div class="row">
	<div class="col m3 l3">
		<div class="collection">
			@foreach (var thread in Model)
			{
				<div class="collection-item threadSelector" id="@thread.Id" onclick="$('.threadPane').removeClass('active'); $('.threadPane#pane' + $(this).attr('id')).addClass('active')">
					@if (thread.Recipients.Count == 2) //skips the current user
					{
						<h5>@thread.Recipients.Single(x => x.Id != Authentication.AuthenticatedAs.Id).FullName</h5>
					}
					else
					{
						string threadRecipients = "";

						foreach (var threadUser in thread.Recipients)
						{
							threadRecipients += threadUser.FullName + ";";
						}

						<h5>@threadRecipients.Remove(threadRecipients.Length - 1)</h5> //fixes the last semicolon
					}
				</div>
			}
		</div>
	</div>
	<div class="col m8">
		@foreach (var thread in Model)
		{
			<div class="threadPane hide" id="@string.Concat("pane", thread.Id)">
				<div class="messages">
					@foreach (var message in thread.Messages.OrderBy(x => x.SentDate))
				{
					if (message.Sender.Id == Authentication.AuthenticatedAs.Id)
					{
							<div class="row">
								<div class="sentMessagePane">
									<div class="row right-align">
										<div class="col l6">
											<ul>
												<li>@message.SentDate.ToShortDateString() - @message.SentDate.ToShortTimeString()</li>
												<li>@message.Sender.FullName (@message.Sender.UserName)</li>
											</ul>
										</div>
										<div class="col l6">
											<p class="sentMessage blue accent-2">@message.Body</p>
										</div>
									</div>
								</div>
							</div>
						}
						else
						{
							<div class="row">
								<div class="recievedMessagePane">
									<div class="row">
										<div class="col l6">
											<p class="recievedMessage blue accent-1">@message.Body</p>
										</div>
										<div class="col l6">
											<ul>
												<li>@message.SentDate.ToShortDateString() - @message.SentDate.ToShortTimeString()</li>
												<li>@message.Sender.FullName (@message.Sender.UserName)</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
				<br />
				<div class="formSend">
					<input type="hidden" name="threadId" value="@thread.Id" />
					<div class="input-field">
						<textarea id="messageBody" name="messageBody" class="materialize-textarea"></textarea>
						<label for="messageBody">Message</label>
					</div>
					<input type="submit" class="btn waves-ripple blue accent-2" value="Send" />
				</div>
			</div>

		}
	</div>
</div>

<script>
	$('.threadSelector').on('click', function () {
		$('.threadPane').addClass('hide');

		$('#pane' + $(this).attr('id')).removeClass('hide');
	})

	$(document).ready(function () {
		$('.formSend input[type="submit"]').on('click', function () {
			$.post('/Message/sendMessage?threadId=' + $(this).parent().children().first().attr('value') + '&messageBody=' + $(this).parent().children('.input-field').first().children().first().val());

			var objToday = new Date(),
				weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'),
				dayOfWeek = weekday[objToday.getDay()],
				dayOfMonth = today + ( objToday.getDate() < 10) ? '0' + objToday.getDate() : objToday.getDate(),
				months = new Array('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'),
				curMonth = months[objToday.getMonth()],
				curYear = objToday.getFullYear(),
				curHour = objToday.getHours() > 12 ? objToday.getHours() - 12 : (objToday.getHours() < 10 ? "0" + objToday.getHours() : objToday.getHours()),
				curMinute = objToday.getMinutes() < 10 ? "0" + objToday.getMinutes() : objToday.getMinutes(),
				curSeconds = objToday.getSeconds() < 10 ? "0" + objToday.getSeconds() : objToday.getSeconds(),
				curMeridiem = objToday.getHours() > 12 ? "PM" : "AM";

			var today = dayOfMonth + '-' + curMonth + '-' + curYear + ' - ' + curHour + ':' + curMinute + ' ' + curMeridiem;


			$(this).parent().parent().children().first()
				   .append('<div class="row"><div class="sentMessagePane"><div class="row right-align"><div class="col l6"><ul><li>' + today + '</li><li>' + $('.sentMessagePane').children().first().children().first().children().first().children().last().text() + '</li></ul></div><div class="col l6"><p class="sentMessage blue accent-2">' + $(this).parent().children('.input-field').first().children().first().val() + '</p></div></div></div></div>');
		});
	})
</script>