﻿.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

i.phoneHeader {
    float: right;
    font-size: 24px;
    padding: 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.side-nav {
    margin-top: 56px !important;
}

img.circular {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background: attr(src) no-repeat;
}

.threadPane .messages {
    border: 1px solid #bfbfbf;
    height: 500px;
    width: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.linkBlock {
    color: #000000;
    background-color: #bfbfbf;
    text-decoration: none;
}

.recievedMessage {
    width: 100%;
    margin-left: 20px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.sentMessage {
    width: 100%;
    margin-right: 20px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 3px;
    float: right;
}